<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mirna.stukk.mapper.MirnaMapper">

    <select id="getAllSearchMiRNA" resultType="mirna.stukk.Pojo.MiRNA">
        select id,mirna_name as name from search_mirna;
    </select>
    <select id="getLikeMiRNA" resultType="mirna.stukk.Pojo.MiRNA">
        select id,mirna_name as name from search_mirna where mirna_name like #{mirnaName};
    </select>
</mapper>