<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybits.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mirna.stukk.mapper.PredictionMapper">
    <select id="getDiseaseListPredictionByMirna" resultType="mirna.stukk.Pojo.Prediction">
        select distinct tb_disease.disease_name as name, forecast_relevance from prediction
            inner join tb_disease on prediction.disease_id = tb_disease.id and
        <if test="diseaseId != null and diseaseId != ''">
            tb_disease.id != #{diseaseId} and
        </if>
             mirna_id = (select id from tb_mirna where mirna_name = #{mirnaName})
            limit #{random},7;
    </select>
<!--     order by forecast_relevance-->
    <select id="getMirnaListPredictionByDisease" resultType="mirna.stukk.Pojo.Prediction">
        select distinct tb_mirna.mirna_name as name,forecast_relevance from prediction inner join
            tb_mirna on prediction.mirna_id = tb_mirna.id and
        <if test="mirnaId != null and mirnaId != ''">
            tb_mirna.id != #{mirnaId} and
        </if>
                disease_id = (select id from tb_disease where disease_name = #{diseaseName})
             limit #{random},7;
    </select>

    <resultMap id="PredictionDTO" type="mirna.stukk.Pojo.DTO.PredictionDTO"/>
    <resultMap id="PredictionDTOCount" type="int"/>

    <select id="getPredictionDTO" resultMap="PredictionDTO,PredictionDTOCount" resultType="object">
        select SQL_CALC_FOUND_ROWS * from tb_prediction
        <where>
            <if test="mirnas != null and mirnas.size() > 0">
                mirna in
                <foreach collection="mirnas" item="mirna" separator="," open="(" close=")">
                 #{mirna}
                </foreach>
            </if>
            <if test="mirnas != null and mirnas.size() > 0 and diseases != null and diseases.size() > 0">
                and
            </if>
            <if test="diseases != null and diseases.size() > 0">
                disease in
                <foreach collection="diseases" item="disease" separator="," open="(" close=")">
                    #{disease}
                </foreach>
            </if>
            <if test="(mirnas != null and mirnas.size() > 0 or diseases != null and diseases.size() > 0) and minRelevance != null and maxRelevance != null">
                and
            </if>
            <if test="minRelevance != null and maxRelevance != null">
                forecast_relevance between #{minRelevance} and #{maxRelevance}
            </if>
        </where>
        limit #{pageNum},#{pageSize};
        select FOUND_ROWS();
    </select>
</mapper>